#page-create-point{
    width: 90%;        /* largura normal é 90px */
    max-width: 1100px;   /* largura maxima é 1100px e nao aumenta mais */


    /* alinhamento de caixa (pelo lado de fora)  */
    margin: 0 auto;     /* em cima e em baixo seja 0, e nas laterais com espacamentos */

}

#page-create-point header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;     /* vao colocar um espaco entre Ecoleta e Voltar home*/
    align-items: center;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: 700;

    display: flex;
    align-items: center;
}

#page-create-point header a span{
    display: flex;
    width: 20px;
    height: 24px;
    background-image: url(../assets/arrow-left.svg);
    margin-right: 16px;
}

 form{              /* criando o formulario */
    width: 100%; 
    max-width: 730px;
    background-color: #ffffff;
    padding: 64px;              /* preenchimento da caixa */
    border-radius: 8px;
    margin: 80px auto 80px;     /* margin-top: 80px;       Espaco entre a Logo e o formulario */    
}

form h1{
    font-size: 36px;   
}

form fieldset{
    margin-top: 64px;
    border: 0;
}

form legend{
    width: 100%;
    margin-bottom: 40px;
}

form legend h2{
    font-size: 24px;
    margin-bottom: 46px;

    
    display: flex;
    justify-content: space-between;
}

form legend span{
    font-size: 14px;
    color: var(--title-color);
    font-weight: normal;
}

form .field{
    flex: 1;
    display: flex;
    flex-direction: column; 
    width: 100%;

    margin-bottom: 24px;            /* coloca espaço entre os topicos */
}

form .field-group{
    width: 100%;
    display: flex;
}

form input,
form select{
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;
    width: 100%;

    outline: none;
    /* outline: none;       tira a linha preta envolta dos retangulos(inserir dados) */
}

form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label{
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field{      /* da espaço entre os dois retangulos(inserir dados) */
    margin-left: 24px;
}

form button{
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: backgorund-color 400ms;
    cursor: pointer;
}


form button:hover{
    background-color: #2fb85e;
}


.items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;         /* ira deixar em 3 col e 2 lin */
    gap: 16px;                                  /* como se fosse margin, porem ele separa entre elementos*/
}

.items-grid li{
    background-color: #f5f5f5;
    list-style: none;


    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;

    padding: 32px 24px 16px;

    display: flex;                          /* alinha no centro do quadrado a imagem*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    transition: 400ms;
}

.items-grid li:hover{
    transform: scale(1.1);
}


.items-grid li span{
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
    margin-top: 12px;
}

.items-grid li.selected-item{
    background-color: #e1faec;
    border: 2px solid #34cb79
}

.items-grid li img,
.items-grid li span{
    pointer-events: none;
}